# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Specific executables
programs/random_neighbour_hill_climb
programs/random_restart_hill_climb
programs/sa
programs/simple_hill_climb
programs/steepest_hill_climb
programs/stochastic_hill_climb
